Repository TeamFILL-IN/Fill-Server, pull requests merged in 2022-01, with the labels that each got.

#2 [ADD] CI 워크플로우 추가
  .github/workflows/fill-in-cicd.yml
  .github/workflows/fill-in-pr-check.yml
  firebase.json
  functions/404.html
  functions/api/index.js
  functions/api/routes/user/index.js
  functions/api/user/index.js
  functions/api/user/userTEST.js
  functions/constants/responseMessage.js
  functions/index.html
  functions/index.js
  functions/package-lock.json
  functions/package.json
Labels: enhancement

#14 [UPDATE] response 값 수정
  functions/api/user/userTEST.js
Labels: 🐕 세훈, 🦖 UPDATE

#15 [UPDATE] response 값 수정
  functions/api/user/userTEST.js
Labels: 🐕 세훈, :tophat: 호영, 🍺 수아, 🏡 Studio

#16 [DOCS] 리드미 추가
  README.md
  functions/package.json
Labels: 🐕 세훈, :tophat: 호영, 🍺 수아, :scroll: DOCS

#17 [DOCS] 리드미 추가
  README.md
  functions/package.json
Labels: 🐕 세훈, :tophat: 호영, 🍺 수아, :scroll: DOCS

#21 [DOCS] API Docs 링크 수정
  README.md
Labels: 🐕 세훈, :scroll: DOCS

#22 [DOCS] API Docs 링크 수정
  README.md
Labels: 🐕 세훈, :scroll: DOCS

#26 [UPDATE] Apple 로그인 구현 및 토큰 재발급 라우터 변경
  functions/api/auth/authPOST.js
  functions/api/auth/authTokenGET.js
  functions/api/auth/index.js
  functions/lib/social.js
  functions/package-lock.json
  functions/package.json
Labels: 🐕 세훈, 🦖 UPDATE, ⚙️ Auth

#30 🎩 [ADD] 종류별 필름 조회, 필름 종류별 사진 조회 API 완료했어요.
  functions/api/film/filmStyleGET.js
  functions/api/film/index.js
  functions/api/index.js
  functions/api/photo/index.js
  functions/api/photo/stylePhotoGET.js
  functions/constants/responseMessage.js
  functions/db/film.js
  functions/db/index.js
  functions/db/photo.js
  functions/package-lock.json
Labels: :tophat: 호영, 🌴 ADD, 📷 Photo, 🎞 Film

#31 [ADD] 전체 스튜디오, 특정 스튜디오 조회
  .gitignore
  functions/api/index.js
  functions/api/studio/index.js
  functions/api/studio/studioAllGET.js
  functions/api/studio/studioNearbyGET.js
  functions/api/studio/studioOneGET.js
  functions/constants/responseMessage.js
  functions/db/index.js
  functions/db/studio.js
  functions/db/user.js
  functions/package-lock.json
Labels: 🍺 수아, 🌴 ADD, 🏡 Studio

#32 [UPDATE] 필름조회 및 사진조회 예외처리 수정
  .vscode/settings.json
  functions/api/film/filmStyleGET.js
  functions/api/photo/index.js
  functions/api/photo/photoStyleGET.js
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, 🎞 Film

#33 [ADD] 전체 사진 조회 API 작성
  functions/api/auth/authPOST.js
  functions/api/auth/authTokenGET.js
  functions/api/photo/index.js
  functions/api/photo/photoAllGET.js
  functions/constants/responseMessage.js
  functions/db/photo.js
  functions/lib/jwt.js
  functions/lib/social.js
Labels: 🐕 세훈, 🌴 ADD, 📷 Photo

#36 [UPDATE] jwt 보안 개선
  functions/api/auth/authPOST.js
  functions/lib/jwt.js
  functions/lib/social.js
Labels: 🐕 세훈, 🦖 UPDATE, ⚙️ Auth

#38 [ADD] 사진 상세정보 조회
  functions/api/photo/index.js
  functions/api/photo/photoGET.js
  functions/constants/responseMessage.js
  functions/db/photo.js
Labels: :tophat: 호영, 🌴 ADD, 📷 Photo

#37 [ADD] 스튜디오 검색API 기능
  functions/api/studio/index.js
  functions/api/studio/studioSearchGET.js
  functions/db/studio.js
Labels: 🍺 수아, 🌴 ADD, :chocolate_bar: CHORE, 🏡 Studio

#42 [FIX] 소셜 로그인/회원가입 이슈 해결중
  README.md
  functions/api/auth/authPOST.js
  functions/constants/social.js
  functions/lib/social.js
Labels: 🐕 세훈, 🚨 버그, ⚙️ Auth

#46 [UPDATE] 완성 API 배포 및 소셜 로그인 버그 해결
  .gitignore
  .vscode/settings.json
  README.md
  functions/api/auth/authPOST.js
  functions/api/auth/authTokenGET.js
  functions/api/curation/curationGET.js
  functions/api/curation/curationOneGET.js
  functions/api/curation/index.js
  functions/api/film/filmStyleGET.js
  functions/api/film/index.js
  functions/api/index.js
  functions/api/photo/index.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoFilmGET.js
  functions/api/photo/photoGET.js
  functions/api/photo/photoStyleGET.js
  functions/api/studio/index.js
  functions/api/studio/studioAllGET.js
  functions/api/studio/studioNearbyGET.js
  functions/api/studio/studioOneGET.js
  functions/api/studio/studioSearchGET.js
  functions/constants/responseMessage.js
  functions/constants/social.js
  functions/db/curation.js
  functions/db/film.js
  functions/db/index.js
  functions/db/photo.js
  functions/db/studio.js
  functions/db/user.js
  functions/lib/jwt.js
  functions/lib/social.js
  functions/package-lock.json
Labels: 🐕 세훈, :tophat: 호영, 🍺 수아, 🚨 버그, 🌴 ADD, 🦖 UPDATE, 📷 Photo, ⚙️ Auth, 🎞 Film, 🏡 Studio, 🎞 Curation

#49 [ADD] Slack Webhook 추가
  functions/api/auth/authPOST.js
  functions/api/auth/authTokenGET.js
  functions/api/film/filmStyleGET.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoStyleGET.js
  functions/api/studio/studioAllGET.js
  functions/api/studio/studioNearbyGET.js
  functions/api/studio/studioOneGET.js
  functions/api/user/userDELETE.js
  functions/api/user/userGET.js
  functions/middlewares/auth.js
  functions/other/slack/slack.js
  functions/other/slack/slackAPI.js
Labels: 🐕 세훈, 🌴 ADD

#55 [ADD] 스튜디오별 사진조회 API
  functions/api/photo/index.js
  functions/api/photo/photoStudioGET.js
  functions/constants/responseMessage.js
  functions/db/photo.js
Labels: 🍺 수아, 🌴 ADD, 📷 Photo, 🏡 Studio

#57 [CHORE] FIrebase hosting html 삭제
  .gitignore
  .vscode/settings.json
  functions/404.html
  functions/index.html
Labels: 🐕 세훈, :chocolate_bar: CHORE

#60 [FIX] 사진 low_image_url을 image_url로 변경
  functions/db/photo.js
Labels: 🍺 수아, 📷 Photo, 🏡 Studio, :hammer_and_wrench: FIX

#62 [feature/github_codeowners] PR 올릴 시 Server 팀 자동으로 리뷰어로 지정할 수 있게 설정
  .github/CODEOWNERS
Labels: :chocolate_bar: CHORE

#64 [feature/github_codeowners] PR 올릴 시 Server 팀 자동으로 리뷰어로 지정할 수 있게 설정
  .github/CODEOWNERS
Labels: :chocolate_bar: CHORE

#67 [ADD] CODEOWNERS 추가
  .github/CODEOWNERS
  functions/api/auth/authPOST.js
  functions/index.js
  functions/lib/social.js
Labels: :chocolate_bar: CHORE

#61 [ADD] 사진 게시
  .gitignore
  functions/api/index.js
  functions/api/photo/index.js
  functions/api/photo/photoPOST.js
  functions/config/firebaseClient.js
  functions/db/photo.js
  functions/middlewares/uploadImage.js
Labels: :tophat: 호영, 🌴 ADD, 📷 Photo

#72 [UPDATE] response 내용 관련 쿼리문 수정 및 리팩토링
  functions/api/curation/curationGET.js
  functions/api/curation/curationOneGET.js
  functions/db/curation.js
  functions/db/photo.js
  functions/db/photopaging.js
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, 🏡 Studio, 🎞 Curation

#75 [CHORE] 불필요한 주석/모듈 정리
  functions/api/curation/curationGET.js
  functions/api/curation/curationOneGET.js
  functions/api/curation/index.js
  functions/api/like/likePOST.js
  functions/api/photo/photoStudioGET.js
  functions/api/photo/photoUserGET.js
  functions/api/studio/index.js
  functions/api/studio/studioAllGET.js
  functions/api/studio/studioNearbyGET.js
  functions/api/studio/studioOneGET.js
  functions/api/studio/studioSearchGET.js
  functions/db/curation.js
  functions/db/like.js
  functions/db/studio.js
Labels: 🍺 수아, :chocolate_bar: CHORE, 📷 Photo, 🏡 Studio, 🎞 Curation, 💖 LIKE

#73 [CHORE] 불필요한 주석/모듈 정리
  functions/api/auth/authPOST.js
  functions/api/auth/authTokenGET.js
  functions/api/auth/index.js
  functions/api/user/userDELETE.js
  functions/api/user/userGET.js
  functions/config/firebaseClient.js
  functions/db/db.js
  functions/db/user.js
  functions/index.js
  functions/lib/convertSnakeToCamel.js
  functions/lib/jwt.js
  functions/lib/nicknameGenerator.js
  functions/lib/social.js
  functions/middlewares/auth.js
  functions/other/slack/slack.js
Labels: 🐕 세훈, :chocolate_bar: CHORE

#74 [CHORE] 불필요한 주석/모듈 정리
  functions/api/film/filmStyleGET.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoFilmGET.js
  functions/api/photo/photoGET.js
  functions/api/photo/photoPOST.js
  functions/api/photo/photoStyleGET.js
  functions/api/photo/photoUserGET.js
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/db/film.js
  functions/db/photo.js
  functions/middlewares/uploadImage.js
Labels: :tophat: 호영, :chocolate_bar: CHORE, 📷 Photo, 🎞 Film

#76 [DOCS] README.md 업데이트
  README.md
Labels: 🐕 세훈, :scroll: DOCS

#78 [ADD] 최신순 사진 조회 API 작성
  functions/api/index.js
  functions/api/photo/index.js
  functions/api/photo/photoLatestGET.js
  functions/constants/responseMessage.js
  functions/db/photo.js
  functions/package-lock.json
Labels: 🐕 세훈, 🌴 ADD, 📷 Photo

#81 [FIX] 이미지 미들웨어 이슈 해결
  functions/middlewares/uploadImage.js
  functions/other/slack/slack.js
Labels: 🐕 세훈, 📷 Photo, :hammer_and_wrench: FIX

#80 [UPDATE] response 데이터 형식 및 변수명 수정
  functions/api/curation/curationOneGET.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoFilmGET.js
  functions/api/photo/photoGET.js
  functions/api/photo/photoLatestGET.js
  functions/api/photo/photoPOST.js
  functions/api/photo/photoStudioGET.js
  functions/api/photo/photoStyleGET.js
  functions/api/photo/photoUserGET.js
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStudioGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/db/photo.js
  functions/db/photopaging.js
  package-lock.json
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, :hammer_and_wrench: FIX, 🎞 Curation

#85 [UPDATE] 종류별, 필름별, 특정 유저별, 큐레이션 사진조회시 좋아요 표시기능 추가
  functions/api/curation/curationGET.js
  functions/api/curation/curationOneGET.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoFilmGET.js
  functions/api/photo/photoPOST.js
  functions/api/photo/photoStyleGET.js
  functions/api/photo/photoUserGET.js
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/db/photo.js
  package-lock.json
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, 🧑‍🦲 User, 🎞 Curation, 💖 LIKE

#86 [UPDATE] 종류별, 필름별, 특정 유저별, 큐레이션 사진 조회시 좋아요 표시기능 추가
  functions/api/curation/curationGET.js
  functions/api/curation/curationOneGET.js
  functions/api/photo/photoAllGET.js
  functions/api/photo/photoFilmGET.js
  functions/api/photo/photoPOST.js
  functions/api/photo/photoStyleGET.js
  functions/api/photo/photoUserGET.js
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/db/photo.js
  package-lock.json
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, 🧑‍🦲 User, 🎞 Curation, 💖 LIKE

#87 [UPDATE] 필름 response 형식 변경
  functions/api/film/filmStyleGET.js
Labels: :tophat: 호영, 🦖 UPDATE, 🎞 Film

#88 [UPDATE] 필름 response 형식 변경
  functions/api/film/filmStyleGET.js
Labels: :tophat: 호영, 🦖 UPDATE, 🎞 Film

#89 [DOCS] README.md 수정
  README.md
Labels: 🐕 세훈, :scroll: DOCS

#91 [UPDATE] 서버 etag 해제
  functions/index.js
Labels: 🐕 세훈, 🦖 UPDATE

#95 [FIX] 소셜 로그인/회원가입 API 이슈 해결
  functions/api/auth/authPOST.js
Labels: 🐕 세훈, 🚨 버그, ⚙️ Auth, :hammer_and_wrench: FIX

#102 [ADD] jest 테스트 환경 구축
  functions/.eslintrc.js
  functions/api/studio/studioAllGET.js
  functions/api/studio/studioNearbyGET.js
  functions/api/studio/studioSearchGET.js
  functions/api/test/auth/authPOST.test.js
  functions/api/test/auth/authTokenGET.test.js
  functions/api/test/curation/curationGET.test.js
  functions/api/test/curation/curationOneGET.test.js
  functions/api/test/film/filmStyleGET.test.js
  functions/api/test/like/likePOST.test.js
  functions/api/test/photo/photoAllGET.test.js
  functions/api/test/photo/photoFilmGET.test.js
  functions/api/test/photo/photoGET.test.js
  functions/api/test/photo/photoLatestGET.test.js
  functions/api/test/photo/photoPOST.test.js
  functions/api/test/photo/photoStudioGET.test.js
  functions/api/test/photo/photoStyleGET.test.js
  functions/api/test/photo/photoUserGET.test.js
  functions/api/test/photopaging/photoAllGET.test.js
  functions/api/test/photopaging/photoFilmGET.test.js
  functions/api/test/photopaging/photoStudioGET.test.js
  functions/api/test/photopaging/photoStyleGET.test.js
  functions/api/test/photopaging/photoUserGET.js
  functions/api/test/studio/studioAllGET.test.js
  functions/api/test/studio/studioNearbyGET.test.js
  functions/api/test/studio/studioOneGET.test.js
  functions/api/test/studio/studioSearchGET.test.js
  functions/api/test/user/userDELETE.test.js
  functions/api/test/user/userGET.test.js
  functions/api/user/userDELETE.js
  functions/api/user/userGET.js
  functions/package-lock.json
  functions/package.json
Labels: 🍺 수아, 🌴 ADD, 🛹 TEST

#103 [ADD] Curation 테스트 코드 작성
  functions/api/test/curation/curationGET.test.js
  functions/package-lock.json
  functions/package.json
  functions/test/auth/authPOST.test.js
  functions/test/auth/authTokenGET.test.js
  functions/test/curation/curationGET.test.js
  functions/test/curation/curationOneGET.test.js
  functions/test/film/filmStyleGET.test.js
  functions/test/like/likePOST.test.js
  functions/test/photo/photoAllGET.test.js
  functions/test/photo/photoFilmGET.test.js
  functions/test/photo/photoGET.test.js
  functions/test/photo/photoLatestGET.test.js
  functions/test/photo/photoPOST.test.js
  functions/test/photo/photoStudioGET.test.js
  functions/test/photo/photoStyleGET.test.js
  functions/test/photo/photoUserGET.test.js
  functions/test/photopaging/photoAllGET.test.js
  functions/test/photopaging/photoFilmGET.test.js
  functions/test/photopaging/photoStudioGET.test.js
  functions/test/photopaging/photoStyleGET.test.js
  functions/test/photopaging/photoUserGET.js
  functions/test/studio/studioAllGET.test.js
  functions/test/studio/studioNearbyGET.test.js
  functions/test/studio/studioOneGET.test.js
  functions/test/studio/studioSearchGET.test.js
  functions/test/user/userDELETE.test.js
  functions/test/user/userGET.test.js
Labels: 🐕 세훈, 🌴 ADD, 🎞 Curation, 🛹 TEST

#106 [UPDATE] 테스트코드 추가
  functions/test/auth/authPOST.test.js
  functions/test/auth/authTokenGET.test.js
  functions/test/curation/curationGET.test.js
  functions/test/curation/curationOneGET.test.js
  functions/test/film/filmStyleGET.test.js
  functions/test/like/likePOST.test.js
  functions/test/photo/photoAllGET.test.js
  functions/test/photo/photoFilmGET.test.js
  functions/test/photo/photoGET.test.js
  functions/test/photopaging/photoAllGET.test.js
  functions/test/photopaging/photoFilmGET.test.js
  functions/test/photopaging/photoStudioGET.test.js
  functions/test/photopaging/photoStyleGET.test.js
  functions/test/photopaging/photoUserGET.js
Labels: 🍺 수아, 🦖 UPDATE, 🛹 TEST

#116 UPDATE] 조회된 데이터 없을 경우 빈 데이터 출력 response 수정
  functions/api/photo/photoStudioGET.js
  functions/api/photo/photoStyleGET.js
  functions/test/photo/photoStyleGET.test.js
Labels: :tophat: 호영, 🦖 UPDATE, 📷 Photo, 🎞 Film, 🎞 Curation

#119 [UPDATE] 가로/세로 구분 추가
  functions/api/photo/photoPOST.js
  functions/db/photo.js
  functions/db/photopaging.js
  functions/lib/size.js
Labels: 🐕 세훈, :tophat: 호영, 🦖 UPDATE, 📷 Photo

#120 [UPDATE] response message수정 및 불필요 예외처리 삭제
  functions/api/film/filmStyleGET.js
  functions/constants/responseMessage.js
  functions/middlewares/uploadImage.js
Labels: :tophat: 호영, 🦖 UPDATE, 🎞 Film

#121 [UPDATE] response message수정 및 불필요 예외처리 삭제
  functions/api/film/filmStyleGET.js
  functions/constants/responseMessage.js
  functions/middlewares/uploadImage.js
Labels: :tophat: 호영, 🦖 UPDATE, 🎞 Film

#122 [FIX] response message수정 및 예외처리 수정
  functions/api/studio/studioSearchGET.js
Labels: :tophat: 호영, 🏡 Studio, :hammer_and_wrench: FIX

#124 [UPDATE] response message수정 및 불필요 예외처리 수정 / Node 버전 수정
  functions/api/studio/studioSearchGET.js
  functions/package.json
Labels: :tophat: 호영, 🦖 UPDATE, 🏡 Studio

#125 [UPDATE] Firebase 설정변경
  functions/index.js
Labels: :tophat: 호영, 🦖 UPDATE

#127 [UPDATE] 애플 로그인/회원가입 로직 수정
  README.md
  functions/lib/social.js
  functions/package-lock.json
Labels: 🐕 세훈, 🦖 UPDATE, ⚙️ Auth

#131 [UPDATE] 최신순 사진 조회 쿼리 수정
  README.md
  functions/db/photo.js
Labels: 🐕 세훈, 🦖 UPDATE

#130 [CHORE] 테스트명 수정
  functions/package-lock.json
  functions/test/curation/curationGET.test.js
  functions/test/curation/curationOneGET.test.js
  functions/test/film/filmStyleGET.test.js
  functions/test/like/likePOST.test.js
  functions/test/photo/photoAllGET.test.js
  functions/test/photo/photoFilmGET.test.js
  functions/test/photo/photoGET.test.js
Labels: 🍺 수아, 🦖 UPDATE, :chocolate_bar: CHORE, 🛹 TEST

#141 [FIX] 안드로이드 Pagenum 에러 수정 및 README.md 수정
  README.md
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStudioGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/constants/responseMessage.js
  functions/test/photo/photoUserGET.test.js
Labels: :tophat: 호영, 📷 Photo, :hammer_and_wrench: FIX

#142 [FIX] 안드로이드 Pagenum 에러 수정
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStudioGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
Labels: :tophat: 호영, 📷 Photo, :hammer_and_wrench: FIX

#143 [FIX] 안드로이드 Pagenum 에러 수정
  README.md
  functions/api/photopaging/photoAllGET.js
  functions/api/photopaging/photoFilmGET.js
  functions/api/photopaging/photoStudioGET.js
  functions/api/photopaging/photoStyleGET.js
  functions/api/photopaging/photoUserGET.js
  functions/constants/responseMessage.js
  functions/test/photo/photoUserGET.test.js
Labels: :tophat: 호영, 📷 Photo, :hammer_and_wrench: FIX
